name = "appointmentbooking-monorepo"
main = "packages/worker/src/index.ts"
compatibility_date = "2024-01-15"
compatibility_flags = ["nodejs_compat"]
account_id = "9e96c83268cae3e0f27168ed50c92033"

[vars]
NODE_ENV = "production"
SUPERSAAS_API_KEY = "5ciPW7IzfQRQy1wqdTsH6g"
SUPERSAAS_SCHEDULE_ID = "Instyle Hair Boutique"

[[d1_databases]]
binding = "DB"
database_name = "appointmentbooking-db"
database_id = "59c06cd2-8bd2-45cf-ab62-84d7a4919e11"

[ai]
binding = "AI"

[observability]
enabled = true

# Custom domain routes
[[routes]]
pattern = "www.instylehairboutique.co.za/*"
zone_name = "instylehairboutique.co.za"


